body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fbf1c7;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#ROOT {
    display: flex;
    width: 100%;
    height: 100%;
}

.kinobox {
    flex-grow: 1;
}

.kinochat {
    display: flex;
    flex-direction: column;
    width: 300px;
    word-wrap: break-word;
}

.messageBox {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 5px;
}

.messageInput {
    margin: 0px 5px 5px 5px;
}

input {
    background-color: #222222;
    border: 1px solid #282828;
    box-shadow: 0;
    padding: 2px;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
}

::-webkit-scrollbar {
    max-width: 10px;
    max-height: 10px;
    background: #222222;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: #222222;
}

::-webkit-scrollbar-thumb:hover {
    background: #075894;
}
